<!DOCTYPE html>
<html lang="en">
  <title>WhatsApp Web Multi</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  </head>
  <script type="module">
    import {
      html, render,
      useState,
      useEffect,
    } from 'https://unpkg.com/htm/preact/standalone.module.js'

    const socket = io();
    
    const App = () => {
      const [isLoading, setLoading] = useState(true);
      const [items, setItems] = useState([]);
      const [isConnected, setConnected] = useState(false); 
      const [selectedChat, setSelectedChat] = useState(null);

      useEffect(() => {
        socket.on('connect', () => {
          console.log('io');
        });
        
        socket.on('message', (data) => {
          console.log(data);
          this.findChat(c);
        });
        
        fetch(`/info`)
          .then(res => res.json())
          .then(data => {
            if (data.phone != null) {
              setConnected(true);
              fetch(`/chats`)
                .then(res => res.json())
                .then(data => setItems(data || []))
                .then(() => setLoading(false));
            }
            else
              setLoading(false);
        })
      }, []);
      
      var findChat = function(chat) {
        console.log(chat);
        var find = items.find(c => c.id._serialized == data.from);
        if(find) {
          find.unreadCount++;
          console.log(findChat);
          setItems(items);
        }
      } 
      
      if (isLoading)
        return html`<${Loading} />`;
      
      if (isConnected)
      {
        if (selectedChat == null) {
          return html`
            <table>
              ${items.map(c => html`
                <tr onClick="${() => setSelectedChat(c)}"><td><${Chat} chat=${c} /></td></tr>
                  `)}
            </table>`;
        }
        return html`
          <button onClick="${() => setSelectedChat(null)}">Back</button>
          <${Message} selectedChat="${selectedChat}"/>`;
      }
      return html`<${Disconnect}/>`;
    }

    const Chat = ({chat}) =>
        html`
        <div>
          <strong>${chat.name}</strong>${chat.unreadCount > 0 && ' - ' + chat.unreadCount}
          <p style='float:right'>${new Date(chat.timestamp * 1000).toLocaleDateString()}</p>
        </div>
        <div>
          <p style='float:left'>${chat.msgs}</p>
        </div>
        `;
    
    const Message = ({selectedChat}) => {
      const[isLoading,setIsLoading] = useState(true);
      const[msgs,setMsgs] = useState([]);
      const[txt,setTxt] = useState('');
      
      useEffect(() => {
        fetch(`/chat/` + selectedChat.id.user)
          .then(res => res.json())
          .then(data => setMsgs(data || []))
          .then(() => setIsLoading(false));
      }, []);         
      
      const onInputTxt = function(e) {
        setTxt(e.target.value);
      }
      
      const sendMessage = function() {
        fetch(`/send/` + selectedChat.id.user + "/" + txt)
          .then(() => {
            msgs.add(txt);
            setMsgs(msgs);
            setTxt('');
          });
        
        return;
        var body = {
          number: selectedChat.id.user,
          message: txt
        };
        fetch(`/send`, {
          method: 'POST',
          body: JSON.stringify(body)
        })
          .then(() => {
            msgs.add(txt);
            setMsgs(msgs);
            setTxt('');
          });
      };

      if (isLoading)
        return html`<${Loading} />`;
      
      return html`
          <table>
            <caption>${selectedChat.name}</caption>
            ${msgs.map(m => html`
              <tr>
                <td align='${m.fromMe ? 'right' : 'left'}' style='background-color: ${m.fromMe ? 'white' : 'lightgrey'}'>${m.body} 
                <sub style='margin-left: 20px'>${new Date(m.timestamp * 1000).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit', hour12: 'false'})}</sub></td>
              </tr>
              `)}
          </table>
          <div style='overflow: hidden; position: fixed; bottom: 0; left:0; width: 100%; max-width:600px; background-color: darkseagreen'>
            <textarea style="width:80%" placeholder="Enter your message here" rows="2" value=${txt} onInput='${onInputTxt}'></textarea>
            <button style='float:right' onClick='${sendMessage}'>Send</button>
          </div>
        `;
    }
    
    const Disconnect = () =>
      html`
        <hr/>
        <h4>Scan QR using Whatsapp on your Phone</h4>
        <img src='/qr'/>
      `;

    const Loading = () =>
      html`<div style='position: absolute; top: 50%; width:100%; margin: 0'><center><h1>Loading...</h1></center></div>`;
    
    const Header = () =>
      html`
      <div style='overflow: hidden; position: fixed; top: 0; left:0; width: 100%; background-color: darkseagreen'>
        <center><h2 style='margin-top:1rem'>WhatsApp Web Multi</h2></center>
      </div>`;

    render(html`
      <${Header}/>
      <div style='margin-top:40px;margin-bottom:40px'>
        <${App}/>
      </div>`
      , document.body);
  </script>
</html>
