<!DOCTYPE html>
<html lang="en">
  <title>Whatsapp Web Multi</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <script type="module">
    import {
      html, render,
      useState,
      useEffect,
    } from 'https://unpkg.com/htm/preact/standalone.module.js'

    const App = () => {
      const [items, setItems] = useState([]);
      const [isConnected, setConnected] = useState(false); 

      useEffect(() => {
        fetch(`/info`)
          .then(res => res.json())
          .then(data => {
            if (data.phone != null) {
              setConnected(true);
              fetch(`/chats`)
                .then(res => res.json())
                .then(data => setItems(data || []));
            }
        })
      }, []);

      if (isConnected)
        return html`
          <div>
            <div class="list">
              ${items.map(c => html`
                  <${Chat} chat=${c} />
                `)}
            </div>
          </div>
        `;
      else
        return html`<${Disconnect}/><img src='/qr'/>`;
    }

    const Chat = ({chat}) => {
      
      select()
      
      return
        html`
          <div class="repl-list-item">
            <div>
              <a
                href="/chat/${chat.id.user}"
                target="_blank"
                rel="noopener noreferrer"
                class="repl-link"
              >
                ${chat.name}
              </a>
              ${" - "}
              <strong>${chat.unreadCount}</strong>
            </div>
            <p>${chat.msgs}</p>
          </div>
        `;
    }
    
    const Disconnect = () =>
      html`
        <div>Scan QR using Whatsapp on your Phone</div>
      `;

    render(html`<${App}/>`, document.body);
  </script>
</html>
